<div class="panel-summary">
	<section class="flow-content beige-box">
		<h3>Sommaire</h3>
		<div class="panel-sold-by">
			<span>Vendu par&nbsp;: </span><a class="text-link" href="/membre/profil/{{ auction.sellerId }}">{{ auction.sellerName }}</a><small class="rating"> ( 4,75 / 5 )</small>
		</div>
		<h4>Description : </h4>
		<p>{{ auction.description }}</p>
	</section>
</div>