<form action="/authentification/authentifierMembre" class="flow-content" method="POST">
	<div class="input-field">
		<label for="inputUsername">Nom d'utilisateur <i>(courriel)</i>&nbsp;:</label>
		<input id="inputUsername" name="username" type="text">
	</div>

	<div class="input-field">
		<label for="inputPassword">Mot de passe&nbsp;: </label>
		<input id="inputPassword" name="password" type="password">
	</div>

	<div>
		<button type="submit">S'authentifier</button>
	</div>

	<div>
		<span>Pas encore membre ? <a class="text-link" href="/inscription">Inscrivez-vous&nbsp;!</a></span>
	</div>
</form>