<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ pageTitle }}Bienvenue - accueil :: Stampee's super special stamps</title>
	<meta name="description" content="{{ pageDescription }}Accueil du portail de vente aux enchères de Lord Stampee">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" media="screen and (max-width: 990px)" href="/styles/adapt-to-990px.css">	
	<link rel="stylesheet" media="screen and (max-width: 540px)" href="/styles/adapt-to-540px.css">
	
	{% if pageType == "index" %}
	<link rel="stylesheet" href="./styles/index.css">
	{% endif %}
	
	<!-- Scripts -->
	{% if pageType == "product" %}
	<script src="/scripts/modules/js-image-zoom.js"></script>
	<script src="/scripts/zoomer.js" defer></script>
	{% endif %}
	<script type="module" src="/scripts/script.js"></script>
	
</head>

<body>
	<!-- en-tête hero -->
	<header class="hero">
		<div class="text-wrapper content">
			<div class="blue-overlay">
				
				<svg class="ornement ornement-top" width="240" height="40">
					<use href="assets/img/ornements.svg#ornement-01" />
				</svg>
				<div class="text">
					<h1>Les catalogues du Lord</h1>
					<span class="tagline">Nos timbres, votre collection...</span>
					<small>Depuis 2021</small>
				</div>
				<svg class="ornement ornement-bottom" width="240" height="40">
					<use href="assets/img/ornements.svg#ornement-02" />
				</svg>
				
			</div>
		</div>
	</header>
	<!-- /en-tête -->
	

	<!-- navigation principale :: click menu -->
	<nav class="primary-navigation" aria-label="Primary navigation">
		<div class="menu-wrapper content">
			<ul class="click-menu">
				<li class="no-action-item" aria-current="page"><span>Accueil</span></li>
			
				<li aria-expanded="false" data-menu-panel="catalogue">
					<button class="top-level-action" type="button">
						<span>Catalogue de produits</span>
						<svg class="down-arrow" width="16" height="16">
							<use href="assets/img/down-arrow.svg#arrow" />
						</svg>
					</button>
					<ul aria-hidden="true">
						<li><a href="catalogue.html">Consulter le catalogue</a></li>
						<li class="no-action-item">
							<span>Effectuer une rechercher</span>
			
							<div class="search-box">
								<input type="text" aria-label="Recherche" placeholder="Votre recherche...">
								<button class="white-overlay" type="button">
									<span class="visually-hidden">Lancer la recherche</span>
									<svg class="magnifying-glass-icon" width="16" height="16">
										<use href="assets/img/magnifying-glass-icon.svg#magnifying-glass" />
									</svg>
								</button>
							</div>
						</li>
					</ul>
				</li>
				<li aria-expanded="false" data-menu-panel="actualites">
					<button class="top-level-action" type="button">
						<span>Actualités</span>
						<svg class="down-arrow" width="16" height="16">
							<use href="assets/img/down-arrow.svg#arrow" />
						</svg>
					</button>
					<ul aria-hidden="true">
						<li><a href="#">Toutes les actualités</a></li>
						<li><a href="#">Timbres</a></li>
						<li><a href="#">Enchères</a></li>
						<li><a href="#">Bridge</a></li>
					</ul>
				</li>
				<li aria-expanded="false" data-menu-panel="contacts">
					<button class="top-level-action" type="button">
						Contacts
						<svg class="down-arrow" width="16" height="16">
							<use href="assets/img/down-arrow.svg#arrow" />
						</svg>
					</button>
					<ul aria-hidden="true">
						<li><a href="#">Angleterre</a></li>
						<li><a href="#">Canada</a></li>
						<li><a href="#">États-Unis</a></li>
						<li><a href="#">Australie</a></li>
					</ul>
				</li>
				<li>
					<button class="top-level-action" type="button">S'authentifier&nbsp;/ s'enregistrer</button>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /navigation principale-->