<!-- en-tête hero -->
<header class="hero">
	<div class="text-wrapper content">
		<div class="blue-overlay">
			
			<svg class="ornement ornement-top" width="240" height="40">
				<use href="/assets/img/ornements.svg#ornement-01" />
			</svg>
			<div class="text">
				<h1>Les catalogues du Lord</h1>
				<span class="tagline">Nos timbres, votre collection...</span>
				<small>Depuis 2021</small>
			</div>
			<svg class="ornement ornement-bottom" width="240" height="40">
				<use href="/assets/img/ornements.svg#ornement-02" />
			</svg>
			
		</div>
	</div>
</header>
<!-- /en-tête -->