<!-- navigation mobile -->
<nav class="primary-navigation-mobile">
	<div class="menu-wrapper content">
		<ul class="click-menu sub-on-top">
			<li aria-expanded="false" data-menu-panel="catalogue">
				<button class="top-level-action" type="button">
					<span class="bottom-nav-icon">
						<svg class="mobile-icon" width="16" height="16">
							<use href="/assets/img/icons/catalog.svg#stamp" />
						</svg>
						<span class="mobile-nav-label">Catalogue</span>
					</span>
				</button>

				<ul aria-hidden="true">
					<li class="no-action-item" aria-current="page"><span >Consulter le catalogue</span></li>
					<li class="no-action-item">
						<span>Effectuer une rechercher</span>
		
						<div class="search-box">
							<input type="text" aria-label="Recherche" placeholder="Votre recherche...">
							<button class="white-overlay" type="button">
								<span class="visually-hidden">Lancer la recherche</span>
								<svg class="magnifying-glass-icon" width="16" height="16">
									<use href="/assets/img/magnifying-glass-icon.svg#magnifying-glass" />
								</svg>
							</button>
						</div>
					</li>
				</ul>
			</li>

			<li aria-expanded="false" data-menu-panel="actualites">
				<button class="top-level-action" type="button">
					<span class="bottom-nav-icon">
						<svg class="mobile-icon" width="16" height="16">
							<use href="/assets/img/icons/news.svg#news" />
						</svg>
						<span class="mobile-nav-label">Actualités</span>
					</span>
				</button>

				<ul aria-hidden="true">
					<li><a href="#">Toutes les actualités</a></li>
					<li><a href="#">Timbres</a></li>
					<li><a href="#">Enchères</a></li>
					<li><a href="#">Bridge</a></li>
				</ul>
			</li>
			<li aria-expanded="false" data-menu-panel="contacts">
				<button class="top-level-action" type="button">
					<span class="bottom-nav-icon">
						<svg class="mobile-icon" width="16" height="16">
							<use href="/assets/img/icons/contact.svg#envelop" />
						</svg>
						<span class="mobile-nav-label">Contact</span>
					</span>
				</button>

				<ul aria-hidden="true">
					<li><a href="#">Angleterre</a></li>
					<li><a href="#">Canada</a></li>
					<li><a href="#">États-Unis</a></li>
					<li><a href="#">Australie</a></li>
				</ul>
			</li>
			<li>
				<button class="top-level-action" type="button">
					<span class="bottom-nav-icon">
						<svg class="mobile-icon" width="16" height="16">
							<use href="/assets/img/icons/login.svg#silhouette" />
						</svg>
						<span class="mobile-nav-label">Compte</span>
					</span>
				</button>
			</li>
		</ul>
	</div>
</nav>
<!-- /navigation mobile -->